* {
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.title{
    padding: 50px;
}
#brand-footer{
    width: 15%;
    padding: 5px;
    filter: grayscale(100%);
}

.image-container{
    padding: 40px;
}
.breadcrumb p{
    color: rgba(128, 128, 128, 1);
    size: 25px;
    font-weight: 500;
    padding-right: 25px;
}
.breadcrumb a{
    color: #083b66;
    font-weight: 600;
}
.breadcrumb a:hover{
    color: #6d21df96;
    transition: 0.3s;
    text-decoration: none;
}
.displayheroes h5{
    color: #083b66;
}
.h2-format{
    vertical-align: middle;
    text-align: center;
    padding: 30px;
    color: #083b66;
}
.btn-primary{
    background-color: #083b66;
}
.btn-primary:hover{
    /* slightly lighter */
    background-color: #3476ac;
}

nav li{
    list-style: none;
}
nav a{
    color: #083b66;
    font-size: 20px;
    padding:15px;
    margin: 10px;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 999;
}
  
#navbar a {
    float: left;
    display: block;
    color: #083b66;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: top 0.3s;
    font-size: 17px;
}
  
#navbar a:hover {
    background-color: #ddd;
}

#navbarNavAltMarkup > div > a.nav-item.nav-link:hover{
    color: #6d21df96;
    transition: 0.3s;
}

.faformat{
    margin: 10px;
    font-size: 20px;
    color: #083b66;
    transition: 0.3s;
}

.faformatS{
    margin: 10px;
    font-size: 20px;
    color: #083b66;
    transition: 0.2s;
}
.faformatF{
    font-size: 15px;
    padding: 10px;
    color: rgba(236, 246, 255, 1);
}

footer{
    background-color: black;
}

footer span{
    color: rgba(255, 255, 255, 0.5);
}

footer h5{
    color: white;
}

footer a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    text-decoration: none;
}
footer a:hover{
    color: rgba(158, 176, 190, 1);
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}

#copyright{
    background-color: rgba(128, 128, 128, 0.8);
    text-align: center;
}

#copyrightText{
    color: rgba(236, 246, 255, 0.7);
    font-size: 10px;
}
.heroeswrapper{
    margin: 10px;
    padding: 10px;
    border-radius: 2%;
}

.heroes{
    border-radius: 50%;
    border: solid #083b66;
    border-width: 3px;
}

.heroes:hover{
    transition: 0.3s;
    border: solid #083b66;
    border-radius: 10%;
    border-width: 3px;
}
#accordionHeroes{
    margin-top: 50px;
}
.firstdiv{
    margin-top: 170px;
}

/* small (phones) */
@media only screen and (max-width: 460px){
.social-media {
    background-color: rgba(128, 128, 128, 0.2);
    text-align: center;
    border-bottom: 1px solid #083b66;
}
#logo{
    width: 20%;
}

.heroes{
    border-radius: 50%;
}
.heroes:hover{
    transition: 0.3s;
    border: solid #083b66;
    border-radius: 10%;
    border-width: 1px;
}
}
/* end small (phones) */

/* medium (tablets) */
@media only screen and (max-width: 990px){
.social-media {
    background-color: rgba(128, 128, 128, 0.2);
    text-align: center;
    border-bottom: 1px solid #083b66;
}
#logo{
    width: 20%;
}
#navbar{
    background-color: white;
}
#navbar a:hover{
    background-color: unset;
}
#navbarNavAltMarkup > div > a.nav-item.nav-link{
    transition: 0.3s;
    text-align: center;
}
.heroes{
    border-radius: 50%;
}
.heroes:hover{
    transition: 0.3s;
    border: solid #083b66;
    border-radius: 10%;
    border-width: 3px;
}
}
/* end medium (tablets) */

/* large (desktop) */
@media only screen and (min-width: 991px){
.social-media {
    background-color: rgba(128, 128, 128, 0.2);
    padding-right: 110px;
    border-bottom: 1px solid #083b66;
    text-align: right;
}
#logo{
    width: 20%;
}

.logo{
    padding-top: 5px;
}
#navbar a:hover{
    background-color: unset;
}
.faformat:hover{
    margin: 5px;
    margin-left: 10px;
    font-size: 25px;
    color: #083b66;
    transition: 0.2s;
}
.heroes{
    border-radius: 50%;
}
.heroes:hover{
    transition: 0.3s;
    border: solid #083b66;
    border-radius: 10%;
    border-width: 3px;
}
}
/* end large (desktop) */

#map{
    width: 100%;
    height: 400px;
}